# integrate Coverity
env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "mvfJMhsUr3x0ayRS7qJXr1spIuRMpKZDLjRI34vp+7KWXFQ9qkwxp47nObwwr5X+MqVkFujgIH6/P3wodyeDESUnDyGMho4r0H3tc06mu29oa/1Vm5K2ESygOonSlXstkNu7SFxrW5+mu9mOSKF0xX7kt0cXlKJCpHKMH7MAsivMjWl2LpUJ9Vzr1wqQPBBl/dhHAeR4o7OLS/B7hudvxM7maJZ8S/PZyIS0d6tg5EMHRLtOxuvMU9zb9WgxgRAWNNa4nu9wh7oS1/6Bx7qtd5Kfgz+G8UnUOvAd/MqDnuyqneC23RdRVIrxel98x6FSvTl/bGEQkPUS3acbJ6scqqxTeSoh2wv7HimH8ODSE2dQ3mblXJkvhBqzvRQ37560j1xk5DnSVKnfegtfOPxUDtr9EPZpm60cKXXBgG17Jfd5ZFjDTuNmwjx0CjTaAJ0FR6YehMtPF3Srq9eKw0zarQc9GwFJYj2rRw104lvHQ8zS5s86JTczKeoyoibpuDZZ/QY4tq8e4HjXSUhntO+bM02hTQzesn2AROyG4ufIeq5CT5e4PJAUlvdonHc1M2U2PayUSuYIEWYnBhxwqXmYXDU/PhupTDKnSY9qkQvcoJGlYArVpo9I6LhOFQXwohZGVUsPLrXygVUXSJx/1E3nhHiD6ef5c67eGGjbTfENOMY="
before_install:
      - rvm get head
      - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-certificates.crt ; else echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | tee /tmp/catmp;  security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain /tmp/catmp ; fi
addons:
  coverity_scan:
    project:
      name: $TRAVIS_REPO_SLUG
      version: $TRAVIS_COMMIT
      description: "Build submitted via Travis CI"
    notification_email: yhfudev@gmail.com
    build_command_prepend: "./autogen.sh && ./configure --enable-static --disable-shared --enable-debug CPPFLAGS=-I${TRAVIS_BUILD_DIR} && make clean"
    build_command:   make -k
    branch_pattern: coverity_scan

sudo: required
os:
  - linux
  - osx
language: c
compiler:
  - clang
  - gcc
matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
    - os: linux
      dist: trusty
      compiler: clang
install:
  # Install 3rd unit test library -- check
  - wget https://github.com/libcheck/check/releases/download/0.11.0/check-0.11.0.tar.gz
  - tar -xf check-0.11.0.tar.gz -C ${TRAVIS_BUILD_DIR}
  # Install 3rd unit test library -- catch.hpp
  - wget -O ${TRAVIS_BUILD_DIR}/catch.hpp https://github.com/philsquared/Catch/releases/download/v1.8.1/catch.hpp
script:
  - (cd ${TRAVIS_BUILD_DIR}/check-0.11.0/ && make clean ; ./configure --enable-shared=no --enable-static=yes; make clean; make; cd -)
  - ./autogen.sh && ./configure --enable-static --disable-shared --enable-debug --with-libcheck=${TRAVIS_BUILD_DIR}/check-0.11.0/ CPPFLAGS=-I${TRAVIS_BUILD_DIR}/include2/ && make && make check && sudo make install
  - ./autogen.sh && ./configure --enable-static --disable-shared --enable-debug CPPFLAGS=-I${TRAVIS_BUILD_DIR} && make && make check && sudo make install
